* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TeX Gyre Adventor";
    font-weight: normal;
    list-style-type: none;
}

html {
    min-height: 100vh;
}

body {
    font-size: 25px;
}

body > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 30px 0;
    height: 35vh;
    background-color: #000;
}

header * {
    color: #fff;
}

main {
    padding: 30px 0;
    background-color: #fff;
    height: 65vh;
}

main #contact {
    margin-bottom: auto;
}

main #contact ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
