* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TeX Gyre Adventor";
    font-weight: normal;
    list-style-type: none;
}

html {
    min-height: 100vh;
}

body {
    font-size: 25px;
}

body > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 75px 0;
    background-color: #000;
    row-gap: 30px;
}

header * {
    color: #fff;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    font-size: 1.35rem;
}

main {
    padding: 30px 0;
    background-color: #fff;
    height: 100%;
}
