{% import 'widgets.jinja2' as w %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jaqi's Website | {{ title }} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  {% block css %}{% endblock css %}
</head>
<body class="flex-mid">
  <header class="flex-mid">
    <h2>Jaqi's Website</h2>
    <ul>
      <li class="{{ selected[0] }}">
        <h4><a href="{{ url_for('index.blog') }}">Blog</a></h4>
      </li>
      <li class="{{ selected[1] }}">
        <h4><a href="{{ url_for('index.about') }}">About</a></h4>
      </li>
      <li class="{{ selected[2] }}">
        <h4><a href="{{ url_for('index.contact') }}">Contact</a></h4>
      </li>
    </ul>
    {% block header %}{% endblock header %}
  </header>
  <div class="line"></div>
  {% block body %}{% endblock body %}
</body>
{% block js %}{% endblock js %}
</html>
