{% import 'widgets.html' as w %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jaqi's Website | {{ title }} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  {% block css %}{% endblock css %}
</head>
<body class="flex-mid">
  <header class="flex-mid">
    <h2>Jaqi's Website</h2>
    <h4>{{ title }}</h4>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.signout') }}"></a>
    {% else %}
      {{ w.pass('password', lf) }}
    {% endif %}
    {% block header %}{% endblock header %}
  </header>
  <div class="line"></div>
  {% block body %}{% endblock body %}
</body>
{% block js %}{% endblock js %}
</html>
