main {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  row-gap: 15px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  /*border: 1px solid var(--bgray);*/
  border-radius: 15px;
  padding:  0 0 12px 0;
}

article h3 {
  font-size: 1.6rem;
  color: var(--bgray);
}

article small {
  font-size: 0.8rem;
  color: var(--kbgray);
  margin-bottom: 6px;
}

article p {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  text-align: justify;
}

.selected {
  border-bottom: 1px solid var(--orange);
}
